openapi: 3.2.0
info:
  title: Screwdriver API Documentation V4 API
  version: '3'
servers:
- url: https://api.screwdriver.cd/
security:
- jwt: []
tags:
- name: v4
paths:
  /v4/banners:
    get:
      summary: Get banners
      operationId: getV4Banners
      description: Returns all banner records
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List%20Banners'
    post:
      summary: Create a new banner
      operationId: postV4Banners
      description: Create a specific banner
      tags:
      - v4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create%20Banner'
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/buildclusters:
    get:
      summary: Get build clusters
      operationId: getV4Buildclusters
      description: Returns all build clusters
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List%20of%20build%20clusters'
    post:
      summary: Create a build cluster
      operationId: postV4Buildclusters
      description: Create a specific build cluster
      tags:
      - v4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create%20Build'
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/collections:
    get:
      summary: Get collections for requesting user
      operationId: getV4Collections
      description: Returns all collection records belonging to the requesting user
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List%20collections%20for%20requesting%20user'
    post:
      summary: Create a new collection
      operationId: postV4Collections
      description: Creates a collection
      tags:
      - v4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create%20collection'
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/commands:
    get:
      summary: Get commands with pagination
      operationId: getV4Commands
      description: Returns all command records
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          description: Page to paginate
          minimum: 1
        description: Page to paginate
      - name: count
        in: query
        schema:
          type: integer
          description: Count to paginate
          minimum: 1
          maximum: 50
        description: Count to paginate
      - name: search
        in: query
        schema:
          type: string
          description: Keyword to search by
          maxLength: 200
        description: Keyword to search by
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option
          default: descending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option
      - name: sortBy
        in: query
        schema:
          type: string
          description: Field to sort by
          maxLength: 100
        description: Field to sort by
      - name: getCount
        in: query
        schema:
          type: boolean
          description: Return total count
        description: Return total count
      - name: namespace
        in: query
        schema:
          type: string
          description: Namespace of the Command
          example: chefdk
          maxLength: 64
          pattern: ^[\w-]+$
        description: Namespace of the Command
      - name: distinct
        in: query
        schema:
          type: string
          enum:
          - id
          - namespace
          - version
          - description
          - maintainer
          - format
          - habitat
          - docker
          - binary
          - name
          - pipelineId
          - createTime
          - usage
          - trusted
          - latest
          - compatibilities
      - name: compact
        in: query
        schema:
          type: string
          enum:
          - 'false'
          - 'true'
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/x-alt-definitions/List%20of%20commands'
                - $ref: '#/x-alt-definitions/Model2'
                - $ref: '#/x-alt-definitions/Command%20Count%20and%20List%20of%20commands'
    post:
      summary: Create a new command
      operationId: postV4Commands
      description: Create a specific command
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/isAdmin:
    get:
      summary: Check if a user is admin of a pipeline, event, or job
      operationId: getV4Isadmin
      description: Returns true or false
      parameters:
      - name: pipelineId
        in: query
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
      - name: eventId
        in: query
        schema:
          type: integer
          description: Identifier of this event
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this event
      - name: jobId
        in: query
        schema:
          type: integer
          description: Identifier of this Job
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this Job
      tags:
      - v4
      security:
      - token: []
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/metrics:
    get:
      summary: application metrics
      operationId: getV4Metrics
      description: Expose application metrics
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/pipelines:
    get:
      summary: Get pipelines with pagination
      operationId: getV4Pipelines
      description: Returns all pipeline records
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          description: Page to paginate
          minimum: 1
        description: Page to paginate
      - name: count
        in: query
        schema:
          type: integer
          description: Count to paginate
          minimum: 1
          maximum: 50
        description: Count to paginate
      - name: search
        in: query
        schema:
          type: string
          description: Keyword to search by
          maxLength: 200
        description: Keyword to search by
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option
          default: descending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option
      - name: sortBy
        in: query
        schema:
          type: string
          description: Field to sort by
          maxLength: 100
        description: Field to sort by
      - name: getCount
        in: query
        schema:
          type: boolean
          description: Return total count
        description: Return total count
      - name: configPipelineId
        in: query
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
      - name: ids[]
        in: query
        schema:
          anyOf:
          - type: array
            items:
              type: integer
              description: Identifier of this pipeline
              example: 123345
              x-constraint:
                sign: positive
            name: ids[]
          - type: integer
            description: Identifier of this pipeline
            example: 123345
            x-constraint:
              sign: positive
      - name: scmUri
        in: query
        schema:
          type: string
          description: Unique identifier for the application
          example: github.com:123456:master
          maxLength: 500
          pattern: ^([^:]+):([^:]+):([^:]+)(?::(.*))?$
        description: Unique identifier for the application
      - name: scmContext
        in: query
        schema:
          type: string
          description: The SCM in which the repository exists
          example: github:github.com
          maxLength: 128
          pattern: ^([^:]+):([^:]+)$
        description: The SCM in which the repository exists
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List%20of%20Pipelines'
    post:
      summary: Create a new pipeline
      operationId: postV4Pipelines
      description: Create a specific pipeline
      tags:
      - v4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create%20Pipeline'
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/release:
    get:
      summary: API Release information
      operationId: getV4Release
      description: Should respond with 200
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/stats:
    get:
      summary: API stats
      operationId: getV4Stats
      description: Should return statistics for the entire system
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stats%20Object'
  /v4/status:
    get:
      summary: API status
      operationId: getV4Status
      description: 'Should respond with 200: ok'
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/x-alt-definitions/Model4'
                - $ref: '#/x-alt-definitions/Model5'
  /v4/templates:
    get:
      summary: Get templates with pagination
      operationId: getV4Templates
      description: Returns all template records
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          description: Page to paginate
          minimum: 1
        description: Page to paginate
      - name: count
        in: query
        schema:
          type: integer
          description: Count to paginate
          minimum: 1
          maximum: 50
        description: Count to paginate
      - name: search
        in: query
        schema:
          type: string
          description: Keyword to search by
          maxLength: 200
        description: Keyword to search by
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option
          default: descending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option
      - name: sortBy
        in: query
        schema:
          type: string
          description: Field to sort by
          maxLength: 100
        description: Field to sort by
      - name: getCount
        in: query
        schema:
          type: boolean
          description: Return total count
        description: Return total count
      - name: namespace
        in: query
        schema:
          type: string
          description: Namespace of the Template
          example: node
          maxLength: 64
          pattern: ^[\w-]+$
        description: Namespace of the Template
      - name: distinct
        in: query
        schema:
          type: string
          enum:
          - id
          - labels
          - config
          - name
          - version
          - description
          - maintainer
          - pipelineId
          - namespace
          - images
          - createTime
          - trusted
          - latest
          - compatibilities
      - name: compact
        in: query
        schema:
          type: string
          enum:
          - 'false'
          - 'true'
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/x-alt-definitions/List%20of%20templates'
                - $ref: '#/x-alt-definitions/Model8'
                - $ref: '#/x-alt-definitions/Template%20Count%20and%20List%20of%20templates'
    post:
      summary: Create a new template
      operationId: postV4Templates
      description: Create a specific template
      tags:
      - v4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certify%20input%20to%20template%20validator'
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/tokens:
    get:
      summary: Get tokens with pagination
      operationId: getV4Tokens
      description: Returns all token records belonging to the current user
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model7'
    post:
      summary: Create a new token
      operationId: postV4Tokens
      description: Create a specific token
      tags:
      - v4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create%20token'
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/versions:
    get:
      summary: API Package Versions
      operationId: getV4Versions
      description: Returns list of Screwdriver package versions and third-party dependencies
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Versions%20Object'
  /v4/auth/contexts:
    get:
      summary: Get all auth contexts
      operationId: getV4AuthContexts
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Array%20of%20Contexts'
  /v4/auth/crumb:
    get:
      summary: Generate crumb
      operationId: getV4AuthCrumb
      description: Should return a crumb
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crumb%20to%20prevent%20CSRF%20Object'
  /v4/auth/key:
    get:
      summary: Get jwt public key
      operationId: getV4AuthKey
      description: Public Key for verifying JSON Web Tokens
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Public%20Key%20for%20Verifying%20JWTs%20Object'
  /v4/banners/{id}:
    get:
      summary: Get a single banner
      operationId: getV4BannersId
      description: Return a banner record
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          x-constraint:
            sign: positive
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get%20Banner'
    put:
      summary: Update a banner
      operationId: putV4BannersId
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          x-constraint:
            sign: positive
        required: true
      tags:
      - v4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Update%20Banner'
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
    delete:
      summary: Delete a banner
      operationId: deleteV4BannersId
      description: Delete a specific banner and return null if success
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          x-constraint:
            sign: positive
        required: true
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/buildclusters/{name}:
    get:
      summary: Get a single build cluster
      operationId: getV4BuildclustersName
      description: Returns a build cluster record
      parameters:
      - name: name
        in: path
        schema:
          type: string
          description: Name of the build cluster
          example: iOS
          maxLength: 50
          pattern: ^[\w.-]+$
        description: Name of the build cluster
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get%20BuildCluster'
    put:
      summary: Update a build cluster
      operationId: putV4BuildclustersName
      parameters:
      - name: name
        in: path
        schema:
          type: string
          description: Name of the build cluster
          example: iOS
          maxLength: 50
          pattern: ^[\w.-]+$
        description: Name of the build cluster
        required: true
      tags:
      - v4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Update%20BuildCluster'
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
    delete:
      summary: Delete a single build cluster
      operationId: deleteV4BuildclustersName
      description: Returns null if successful
      parameters:
      - name: name
        in: path
        schema:
          type: string
          description: Name of the build cluster
          example: iOS
          maxLength: 50
          pattern: ^[\w.-]+$
        description: Name of the build cluster
        required: true
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/builds/statuses:
    get:
      summary: Get build statuses for jobs
      operationId: getV4BuildsStatuses
      description: Returns id, jobId, and status for builds
      parameters:
      - name: jobIds
        in: query
        schema:
          example: 123345
          anyOf:
          - type: array
            items:
              type: string
              pattern: ^[0-9]+$
            name: jobIds
          - type: string
            pattern: ^[0-9]+$
        required: true
      - name: numBuilds
        in: query
        schema:
          type: integer
          default: 1
          x-constraint:
            sign: positive
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model8'
  /v4/builds/{id}:
    get:
      summary: Get a single build
      operationId: getV4BuildsId
      description: Returns a build record
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this build
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this build
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get%20Build'
    put:
      summary: Update a build
      operationId: putV4BuildsId
      description: Update a specific build
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this build
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this build
        required: true
      tags:
      - v4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Update%20Build'
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/collections/{id}:
    get:
      summary: Get a single collection
      operationId: getV4CollectionsId
      description: Returns a collection record
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          x-constraint:
            sign: positive
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get%20collection'
    put:
      summary: Update a collection
      operationId: putV4CollectionsId
      description: Update a specific collection
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          x-constraint:
            sign: positive
        required: true
      tags:
      - v4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Update%20collection'
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
    delete:
      summary: Delete a single collection
      operationId: deleteV4CollectionsId
      description: Returns null if successful
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          x-constraint:
            sign: positive
        required: true
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/coverage/info:
    get:
      summary: Get coverage metadata
      operationId: getV4CoverageInfo
      description: Returns object with coverage info
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/coverage/token:
    get:
      summary: Get an access token to talk to coverage server
      operationId: getV4CoverageToken
      description: Returns a token string
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/events/{id}:
    get:
      summary: Get a single event
      operationId: getV4EventsId
      description: Returns a event record
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this event
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this event
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get%20Event'
  /v4/jobs/{id}:
    get:
      summary: Get a single job
      operationId: getV4JobsId
      description: Returns a job record
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this Job
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this Job
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get%20Job'
    put:
      summary: Update a job
      operationId: putV4JobsId
      description: Update a specific job
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this Job
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this Job
        required: true
      tags:
      - v4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Update%20Job'
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/pipeline/templates:
    get:
      summary: List all the pipeline templates
      operationId: getV4PipelineTemplates
      description: Returns an array template meta for all the pipeline templates
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          description: Page to paginate
          minimum: 1
        description: Page to paginate
      - name: count
        in: query
        schema:
          type: integer
          description: Count to paginate
          minimum: 1
          maximum: 50
        description: Count to paginate
      - name: search
        in: query
        schema:
          type: string
          description: Keyword to search by
          maxLength: 200
        description: Keyword to search by
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option
          default: descending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option
      - name: sortBy
        in: query
        schema:
          type: string
          description: Field to sort by
          maxLength: 100
        description: Field to sort by
      - name: getCount
        in: query
        schema:
          type: boolean
          description: Return total count
        description: Return total count
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/x-alt-definitions/List%20of%20pipeline%20templates'
                - $ref: '#/x-alt-definitions/Pipeline%20Template%20Count%20and%20List%20of%20templates'
  /v4/pipelines/{id}:
    get:
      summary: Get a single pipeline
      operationId: getV4PipelinesId
      description: Returns a pipeline record
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get%20Pipeline'
    put:
      summary: Update a pipeline
      operationId: putV4PipelinesId
      description: Update a specific pipeline
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      tags:
      - v4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Update%20Pipeline'
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
    delete:
      summary: Delete a single pipeline
      operationId: deleteV4PipelinesId
      description: Returns null if successful
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/secrets/{id}:
    get:
      summary: Get a single secret
      operationId: getV4SecretsId
      description: Returns a secret record
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this secret
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this secret
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get%20Secret'
    put:
      summary: Update a secret
      operationId: putV4SecretsId
      description: Update a specific secret
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this secret
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this secret
        required: true
      tags:
      - v4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Update%20Secret'
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
    delete:
      summary: Remove a single secret
      operationId: deleteV4SecretsId
      description: Returns null if successful
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this secret
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this secret
        required: true
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/stages/{id}:
    get:
      summary: Get a single stage
      operationId: getV4StagesId
      description: Returns a stage record
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          example: 12345
          x-constraint:
            sign: positive
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get%20Stage%20metadata'
  /v4/template/{id}:
    get:
      summary: Get a single template
      operationId: getV4TemplateId
      description: Returns a template record
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this template
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this template
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get%20Template'
  /v4/templates/{name}:
    get:
      summary: Get all template versions for a given template name with pagination
      operationId: getV4TemplatesName
      description: Returns all template records for a given template name
      parameters:
      - name: name
        in: path
        schema:
          type: string
          description: Template name
          example: nodejs/lib
          maxLength: 64
        description: Template name
        required: true
      - name: page
        in: query
        schema:
          type: integer
          description: Page to paginate
          minimum: 1
        description: Page to paginate
      - name: count
        in: query
        schema:
          type: integer
          description: Count to paginate
          minimum: 1
          maximum: 50
        description: Count to paginate
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option
          default: descending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option
      - name: sortBy
        in: query
        schema:
          type: string
          description: Field to sort by
          maxLength: 100
        description: Field to sort by
      - name: getCount
        in: query
        schema:
          type: boolean
          description: Return total count
        description: Return total count
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List%20of%20templates'
    delete:
      summary: Delete a template
      operationId: deleteV4TemplatesName
      description: Returns null if successful
      parameters:
      - name: name
        in: path
        schema:
          type: string
          description: Template name
          example: nodejs/lib
          maxLength: 64
        description: Template name
        required: true
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/users/settings:
    get:
      summary: Get user settings
      operationId: getV4UsersSettings
      description: Returns user settings record
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model23'
    put:
      summary: Update user settings
      operationId: putV4UsersSettings
      tags:
      - v4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Update%20User'
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
    delete:
      summary: Reset user settings
      operationId: deleteV4UsersSettings
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/users/{username}:
    get:
      summary: Get an user by SCM username and SCM context
      operationId: getV4UsersUsername
      description: Returns an user by SCM username and SCM context
      parameters:
      - name: username
        in: path
        schema:
          type: string
          description: Username
          example: batman123
          maxLength: 128
        description: Username
        required: true
      - name: scmContext
        in: query
        schema:
          type: string
          description: The SCM in which the repository exists
          example: github:github.com
          maxLength: 128
          pattern: ^([^:]+):([^:]+)$
        description: The SCM in which the repository exists
        required: true
      - name: includeUserToken
        in: query
        schema:
          type: boolean
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/auth/token/{buildId}:
    get:
      summary: Generate jwt
      operationId: getV4AuthTokenBuildid
      description: Generate a JWT for use throughout Screwdriver
      parameters:
      - name: buildId
        in: path
        schema:
          anyOf:
          - type: integer
            description: Identifier of this build
            example: 123345
            x-constraint:
              sign: positive
          - type: string
            description: Username
            example: batman123
            maxLength: 128
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSON%20Web%20Token%20Object'
  /v4/builds/{id}/artifacts:
    get:
      summary: Get a zipped file including all build artifacts
      operationId: getV4BuildsIdArtifacts
      description: Redirects to store with proper token
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this build
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this build
        required: true
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/builds/{id}/metrics:
    get:
      summary: Get metrics for this build
      operationId: getV4BuildsIdMetrics
      description: Returns list of metrics for the given build
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this build
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this build
        required: true
      - name: startTime
        in: query
        schema:
          type: string
          example: '1970-01-01T15:00:00Z'
          x-format:
            isoDate: true
      - name: endTime
        in: query
        schema:
          type: string
          example: '1970-01-03T18:00:00Z'
          x-format:
            isoDate: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model25'
  /v4/builds/{id}/steps:
    get:
      summary: Get a step for a build
      operationId: getV4BuildsIdSteps
      description: Returns a step record
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this build
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this build
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List%20of%20steps'
  /v4/builds/{id}/secrets:
    get:
      summary: Get all secrets for a given build
      operationId: getV4BuildsIdSecrets
      description: Returns all secrets for a given build
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this build
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this build
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List%20of%20secrets'
  /v4/commands/{namespace}/{name}:
    get:
      summary: Get all command versions for a given command namespace/name with pagination
      operationId: getV4CommandsNamespaceName
      description: Returns all command records for a given command namespace/name
      parameters:
      - name: namespace
        in: path
        schema:
          type: string
          description: Namespace of the Command
          example: chefdk
          maxLength: 64
          pattern: ^[\w-]+$
        description: Namespace of the Command
        required: true
      - name: name
        in: path
        schema:
          type: string
          description: Name of the Command
          example: knife
          maxLength: 64
          pattern: ^[\w-]+$
        description: Name of the Command
        required: true
      - name: page
        in: query
        schema:
          type: integer
          description: Page to paginate
          minimum: 1
        description: Page to paginate
      - name: count
        in: query
        schema:
          type: integer
          description: Count to paginate
          minimum: 1
          maximum: 50
        description: Count to paginate
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option
          default: descending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option
      - name: sortBy
        in: query
        schema:
          type: string
          description: Field to sort by
          maxLength: 100
        description: Field to sort by
      - name: getCount
        in: query
        schema:
          type: boolean
          description: Return total count
        description: Return total count
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List%20of%20commands'
    delete:
      summary: Delete a command
      operationId: deleteV4CommandsNamespaceName
      description: Returns null if successful
      parameters:
      - name: namespace
        in: path
        schema:
          type: string
          description: Namespace of the Command
          example: chefdk
          maxLength: 64
          pattern: ^[\w-]+$
        description: Namespace of the Command
        required: true
      - name: name
        in: path
        schema:
          type: string
          description: Name of the Command
          example: knife
          maxLength: 64
          pattern: ^[\w-]+$
        description: Name of the Command
        required: true
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/events/{id}/metrics:
    get:
      summary: Get metrics for this event
      operationId: getV4EventsIdMetrics
      description: Returns list of metrics for the given event
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this event
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this event
        required: true
      - name: startTime
        in: query
        schema:
          type: string
          example: '1970-01-01T15:00:00Z'
          x-format:
            isoDate: true
      - name: endTime
        in: query
        schema:
          type: string
          example: '1970-01-03T18:00:00Z'
          x-format:
            isoDate: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model26'
  /v4/events/{id}/builds:
    get:
      summary: Get builds for a given event
      operationId: getV4EventsIdBuilds
      description: Returns builds for a given event
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this event
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this event
        required: true
      - name: page
        in: query
        schema:
          type: integer
          description: Page to paginate
          minimum: 1
        description: Page to paginate
      - name: count
        in: query
        schema:
          type: integer
          description: Count to paginate
          minimum: 1
          maximum: 50
        description: Count to paginate
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option
          default: descending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option
      - name: sortBy
        in: query
        schema:
          type: string
          description: Field to sort by
          maxLength: 100
        description: Field to sort by
      - name: readOnly
        in: query
        schema:
          type: boolean
          default: false
      - name: fetchSteps
        in: query
        schema:
          type: boolean
          default: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List%20of%20builds'
  /v4/events/{id}/stageBuilds:
    get:
      summary: Get stage builds for a given event
      operationId: getV4EventsIdStagebuilds
      description: Returns stage builds for a given event
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this event
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this event
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List%20of%20stage%20builds'
  /v4/jobs/{id}/metrics:
    get:
      summary: Get build metrics for this job
      operationId: getV4JobsIdMetrics
      description: Returns list of build metrics for the given job
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this Job
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this Job
        required: true
      - name: startTime
        in: query
        schema:
          type: string
          example: '1970-01-01T15:00:00Z'
          x-format:
            isoDate: true
      - name: endTime
        in: query
        schema:
          type: string
          example: '1970-01-03T18:00:00Z'
          x-format:
            isoDate: true
      - name: aggregateInterval
        in: query
        schema:
          type: string
          enum:
          - none
          - day
          - week
          - month
          - year
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model27'
  /v4/jobs/{id}/builds:
    get:
      summary: Get builds for a given job
      operationId: getV4JobsIdBuilds
      description: Returns builds for a given job
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this Job
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this Job
        required: true
      - name: page
        in: query
        schema:
          type: integer
          description: Page to paginate
          minimum: 1
        description: Page to paginate
      - name: count
        in: query
        schema:
          type: integer
          description: Count to paginate
          minimum: 1
          maximum: 50
        description: Count to paginate
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option
          default: descending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option
      - name: sortBy
        in: query
        schema:
          type: string
          description: Field to sort by
          maxLength: 100
        description: Field to sort by
      - name: readOnly
        in: query
        schema:
          type: boolean
          default: true
      - name: fetchSteps
        in: query
        schema:
          type: boolean
          default: true
      - name: status
        in: query
        schema:
          type: string
          description: Current status of the build
          example: SUCCESS
          enum:
          - ABORTED
          - CREATED
          - FAILURE
          - QUEUED
          - RUNNING
          - SUCCESS
          - BLOCKED
          - UNSTABLE
          - COLLAPSED
          - FROZEN
        description: Current status of the build
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List_of_builds'
  /v4/jobs/{id}/lastSuccessfulMeta:
    get:
      summary: Get the last successful metadata for a given job
      operationId: getV4JobsIdLastsuccessfulmeta
      description: If no successful builds found in the past 50 builds, will return {}
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this Job
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this Job
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
  /v4/jobs/{id}/latestBuild:
    get:
      summary: Get latest build for a given job
      operationId: getV4JobsIdLatestbuild
      description: Return latest build of status specified
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this Job
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this Job
        required: true
      - name: status
        in: query
        schema:
          type: string
          description: Current status of the build
          example: SUCCESS
          enum:
          - ABORTED
          - CREATED
          - FAILURE
          - QUEUED
          - RUNNING
          - SUCCESS
          - BLOCKED
          - UNSTABLE
          - COLLAPSED
          - FROZEN
        description: Current status of the build
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get%20Build'
  /v4/pipeline/template/{id}:
    get:
      summary: Get a single template
      operationId: getV4PipelineTemplateId
      description: Returns a template record
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this template
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this template
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model28'
  /v4/pipelines/{id}/admins:
    get:
      summary: Get all admin users for a given pipeline
      operationId: getV4PipelinesIdAdmins
      description: Returns all admin users for a given pipeline
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List%20of%20users'
  /v4/pipelines/{id}/latestCommitEvent:
    get:
      summary: Get latest commit event for a given pipeline
      operationId: getV4PipelinesIdLatestcommitevent
      description: Return latest commit event
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get%20Event'
  /v4/pipelines/{id}/tokens:
    get:
      summary: List tokens for pipeline
      operationId: getV4PipelinesIdTokens
      description: List tokens for a specific pipeline
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model30'
    post:
      summary: Create a new token for pipeline
      operationId: postV4PipelinesIdTokens
      description: Create a specific token for pipeline
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      tags:
      - v4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create%20token'
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
    delete:
      summary: Remove all tokens for a specific pipeline
      operationId: deleteV4PipelinesIdTokens
      description: Returns null if successful
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/pipelines/{id}/events:
    get:
      summary: Get pipeline type events for this pipeline
      operationId: getV4PipelinesIdEvents
      description: Returns pipeline events for the given pipeline
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      - name: page
        in: query
        schema:
          type: integer
          description: Page to paginate
          minimum: 1
        description: Page to paginate
      - name: count
        in: query
        schema:
          type: integer
          description: Count to paginate
          minimum: 1
          maximum: 50
        description: Count to paginate
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option
          default: descending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option
      - name: sortBy
        in: query
        schema:
          type: string
          description: Field to sort by
          maxLength: 100
        description: Field to sort by
      - name: type
        in: query
        schema:
          type: string
          description: Type of the event
          example: pr
          enum:
          - pr
          - pipeline
          maxLength: 10
        description: Type of the event
      - name: prNum
        in: query
        schema:
          type: integer
          description: Pull request number if it is a PR event
          x-constraint:
            sign: positive
        description: Pull request number if it is a PR event
      - name: sha
        in: query
        schema:
          type: string
          description: SHA or partial SHA
          example: ccc49349d3cffbd12ea9e3d41521480b4aa5de5f
          maxLength: 40
          x-format:
            hex:
              byteAligned: false
              prefix: false
        description: SHA or partial SHA
      - name: message
        in: query
        schema:
          type: string
          example: 'fix: Typo'
      - name: author
        in: query
        schema:
          type: string
          example: Dao Lam
      - name: creator
        in: query
        schema:
          type: string
          description: Creator Name; optionally use "ne:" prefix to exclude creator
          example: Dao Lam
        description: Creator Name; optionally use "ne:" prefix to exclude creator
      - name: id
        in: query
        schema:
          description: Event ID; alternatively can use greater than or less than prefix (gt:/lt:)
          example: gt:12345
          anyOf:
          - type: integer
            description: Identifier of this pipeline
            example: 123345
            x-constraint:
              sign: positive
          - type: string
            pattern: ^(gt|lt):([\d]+)$
        description: Event ID; alternatively can use greater than or less than prefix (gt:/lt:)
      - name: groupEventId
        in: query
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List%20of%20events'
  /v4/pipelines/{id}/triggers:
    get:
      summary: Get all triggers for a given pipeline
      operationId: getV4PipelinesIdTriggers
      description: Returns all triggers for a given pipeline
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List%20of%20triggers'
  /v4/pipelines/{id}/jobs:
    get:
      summary: Get all jobs for a given pipeline
      operationId: getV4PipelinesIdJobs
      description: Returns all jobs for a given pipeline
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      - name: page
        in: query
        schema:
          type: integer
          description: Page to paginate
          minimum: 1
        description: Page to paginate
      - name: count
        in: query
        schema:
          type: integer
          description: Count to paginate
          minimum: 1
          maximum: 50
        description: Count to paginate
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option
          default: descending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option
      - name: type
        in: query
        schema:
          type: string
          enum:
          - pr
          - pipeline
      - name: archived
        in: query
        schema:
          type: boolean
          default: false
      - name: jobName
        in: query
        schema:
          type: string
          description: Name of the Job
          example: main
          maxLength: 110
          pattern: ^(PR-[0-9]+:)?(([\w-]+)|(?:stage@([\w-]+):(setup|teardown)))$
        description: Name of the Job
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List%20of%20jobs'
  /v4/pipelines/{id}/badge:
    get:
      summary: Get a badge for the pipeline
      operationId: getV4PipelinesIdBadge
      description: Redirects to the badge service
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/pipelines/{id}/stages:
    get:
      summary: Get all stages for a given pipeline
      operationId: getV4PipelinesIdStages
      description: Returns all stages for a given pipeline
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      - name: page
        in: query
        schema:
          type: integer
          description: Page to paginate
          minimum: 1
        description: Page to paginate
      - name: count
        in: query
        schema:
          type: integer
          description: Count to paginate
          minimum: 1
          maximum: 50
        description: Count to paginate
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option
          default: descending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option
      - name: sortBy
        in: query
        schema:
          type: string
          description: Field to sort by
          maxLength: 100
        description: Field to sort by
      - name: getCount
        in: query
        schema:
          type: boolean
          description: Return total count
        description: Return total count
      - name: name
        in: query
        schema:
          type: string
          description: Name of the Stage
          example: deploy
          maxLength: 110
          pattern: ^[\w-]+$
        description: Name of the Stage
      - name: type
        in: query
        schema:
          type: string
          enum:
          - pr
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/pipelines/{id}/secrets:
    get:
      summary: Get all secrets secrets for a given pipelines
      operationId: getV4PipelinesIdSecrets
      description: Returns all secrets for a given pipeline
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List_of_secrets'
  /v4/pipelines/{id}/builds:
    get:
      summary: Get builds for this pipeline
      operationId: getV4PipelinesIdBuilds
      description: Returns builds for the given pipeline
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      - name: page
        in: query
        schema:
          type: integer
          description: Page to paginate
          minimum: 1
        description: Page to paginate
      - name: count
        in: query
        schema:
          type: integer
          description: Count to paginate
          minimum: 1
          maximum: 50
        description: Count to paginate
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option
          default: descending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option
      - name: sortBy
        in: query
        schema:
          type: string
          description: Field to sort by
          maxLength: 100
        description: Field to sort by
      - name: readOnly
        in: query
        schema:
          type: boolean
          default: true
      - name: fetchSteps
        in: query
        schema:
          type: boolean
          default: true
      - name: groupEventId
        in: query
        schema:
          type: integer
          description: Identifier of the group parent event
          example: 123344
          x-constraint:
            sign: positive
        description: Identifier of the group parent event
      - name: latest
        in: query
        schema:
          type: boolean
          default: false
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model32'
  /v4/pipelines/{id}/metrics:
    get:
      summary: Get metrics for this pipeline
      operationId: getV4PipelinesIdMetrics
      description: Returns list of metrics for the given pipeline
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      - name: page
        in: query
        schema:
          type: integer
          description: Page to paginate
          minimum: 1
        description: Page to paginate
      - name: count
        in: query
        schema:
          type: integer
          description: Count to paginate
          minimum: 1
          maximum: 50
        description: Count to paginate
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option
          default: descending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option
      - name: sortBy
        in: query
        schema:
          type: string
          description: Field to sort by
          maxLength: 100
        description: Field to sort by
      - name: getCount
        in: query
        schema:
          type: boolean
          description: Return total count
        description: Return total count
      - name: startTime
        in: query
        schema:
          type: string
          example: '1970-01-01T15:00:00Z'
          x-format:
            isoDate: true
      - name: endTime
        in: query
        schema:
          type: string
          example: '1970-01-03T18:00:00Z'
          x-format:
            isoDate: true
      - name: aggregateInterval
        in: query
        schema:
          type: string
          enum:
          - none
          - day
          - week
          - month
          - year
      - name: downtimeJobs[]
        in: query
        schema:
          anyOf:
          - type: array
            items:
              type: string
              pattern: ^[0-9]+$
            name: downtimeJobs[]
          - type: string
            pattern: ^[0-9]+$
      - name: downtimeStatuses[]
        in: query
        schema:
          anyOf:
          - type: array
            items:
              type: string
              description: Current status of the build
              example: SUCCESS
              enum:
              - ABORTED
              - CREATED
              - FAILURE
              - QUEUED
              - RUNNING
              - SUCCESS
              - BLOCKED
              - UNSTABLE
              - COLLAPSED
              - FROZEN
            name: downtimeStatuses[]
          - type: string
            description: Current status of the build
            example: SUCCESS
            enum:
            - ABORTED
            - CREATED
            - FAILURE
            - QUEUED
            - RUNNING
            - SUCCESS
            - BLOCKED
            - UNSTABLE
            - COLLAPSED
            - FROZEN
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model33'
  /v4/pipelines/{id}/lastSuccessfulEvent:
    get:
      summary: Get last successful event for a given pipeline
      operationId: getV4PipelinesIdLastsuccessfulevent
      description: Return last successful event
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get%20Event'
  /v4/pipelines/{id}/admin:
    get:
      summary: Get the pipeline admin
      operationId: getV4PipelinesIdAdmin
      description: Returns a pipeline admin record
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      - name: scmContext
        in: query
        schema:
          type: string
          description: The SCM in which the repository exists
          example: github:github.com
          maxLength: 128
          pattern: ^([^:]+):([^:]+)$
        description: The SCM in which the repository exists
      - name: includeUserToken
        in: query
        schema:
          type: boolean
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/stages/{id}/stageBuilds:
    get:
      summary: Get stage builds for a stage
      operationId: getV4StagesIdStagebuilds
      description: Returns all stage builds for a stage
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          example: 12345
          x-constraint:
            sign: positive
        required: true
      - name: page
        in: query
        schema:
          type: integer
          description: Page to paginate
          minimum: 1
        description: Page to paginate
      - name: count
        in: query
        schema:
          type: integer
          description: Count to paginate
          minimum: 1
          maximum: 50
        description: Count to paginate
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option
          default: descending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option
      - name: sortBy
        in: query
        schema:
          type: string
          description: Field to sort by
          maxLength: 100
        description: Field to sort by
      - name: eventId
        in: query
        schema:
          type: integer
          description: Identifier of the event
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of the event
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List%20of%20stage%20builds%20for%20a%20stage'
  /v4/templates/{name}/{versionOrTag}:
    get:
      summary: Get a single template given template name and version or tag
      operationId: getV4TemplatesNameVersionortag
      description: Returns a template record
      parameters:
      - name: name
        in: path
        schema:
          type: string
          description: Template name
          example: nodejs/lib
          maxLength: 64
        description: Template name
        required: true
      - name: versionOrTag
        in: path
        schema:
          anyOf:
          - type: string
            description: Version of the Template
            example: '1.2'
            maxLength: 16
            pattern: ^(\d+)(\.\d+)?(\.\d+)?$
          - type: string
            description: Name of the Template Tag
            example: latest
            maxLength: 30
            pattern: ^[a-zA-Z][\w-.]+$
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get%20Template'
  /v4/templates/{name}/tags:
    get:
      summary: Get all template tags for a given template name
      operationId: getV4TemplatesNameTags
      description: Returns all template tags for a given template name
      parameters:
      - name: name
        in: path
        schema:
          type: string
          description: Template name
          example: nodejs/lib
          maxLength: 64
        description: Template name
        required: true
      - name: page
        in: query
        schema:
          type: integer
          description: Page to paginate
          minimum: 1
        description: Page to paginate
      - name: count
        in: query
        schema:
          type: integer
          description: Count to paginate
          minimum: 1
          maximum: 50
        description: Count to paginate
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option
          default: descending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option
      - name: sortBy
        in: query
        schema:
          type: string
          description: Field to sort by
          maxLength: 100
        description: Field to sort by
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model34'
  /v4/templates/{name}/metrics:
    get:
      summary: Get all template versions and metrics for a template name with pagination
      operationId: getV4TemplatesNameMetrics
      description: Returns all template records and associated metrics for a given template name
      parameters:
      - name: name
        in: path
        schema:
          type: string
          description: Template name
          example: nodejs/lib
          maxLength: 64
        description: Template name
        required: true
      - name: page
        in: query
        schema:
          type: integer
          description: Page to paginate
          minimum: 1
        description: Page to paginate
      - name: count
        in: query
        schema:
          type: integer
          description: Count to paginate
          minimum: 1
          maximum: 50
        description: Count to paginate
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option
          default: descending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option
      - name: startTime
        in: query
        schema:
          type: string
          example: '1970-01-01T15:00:00Z'
          x-format:
            isoDate: true
      - name: endTime
        in: query
        schema:
          type: string
          example: '1970-01-03T18:00:00Z'
          x-format:
            isoDate: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model35'
  /v4/auth/login/github:github.com/{web}:
    get:
      summary: Login using oauth
      operationId: getV4AuthLoginGithubgithubcomWeb
      description: Authenticate user with oauth provider
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
    post:
      summary: Login using oauth
      operationId: postV4AuthLoginGithubgithubcomWeb
      description: Authenticate user with oauth provider
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/auth/login/guest/{web}:
    get:
      summary: Login as an guest user
      operationId: getV4AuthLoginGuestWeb
      description: Authenticate an guest user
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/builds/{id}/steps/{name}:
    get:
      summary: Get a step for a build
      operationId: getV4BuildsIdStepsName
      description: Returns a step record
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this build
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this build
        required: true
      - name: name
        in: path
        schema:
          type: string
          description: Name of the Step
          example: install
          maxLength: 64
        description: Name of the Step
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get%20Step%20metadata'
    put:
      summary: Update a step for a build
      operationId: putV4BuildsIdStepsName
      description: Writes a step record
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this build
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this build
        required: true
      - name: name
        in: path
        schema:
          type: string
          description: Name of the Step
          example: install
          maxLength: 64
        description: Name of the Step
        required: true
      tags:
      - v4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Update%20Step%20metadata'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get%20Step%20metadata'
  /v4/builds/{id}/artifacts/{name*}:
    get:
      summary: Get a single build artifact
      operationId: getV4BuildsIdArtifactsName
      description: Redirects to store with proper token
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this build
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this build
        required: true
      - name: name
        in: path
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
          default: preview
          enum:
          - download
          - preview
      - name: dir
        in: query
        schema:
          type: boolean
          default: false
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/commands/{namespace}/{name}/tags:
    get:
      summary: Get all command tags for a given command namespace and name
      operationId: getV4CommandsNamespaceNameTags
      description: Returns all command tags for a given command namespace and name
      parameters:
      - name: namespace
        in: path
        schema:
          type: string
          description: Namespace of the Command
          example: chefdk
          maxLength: 64
          pattern: ^[\w-]+$
        description: Namespace of the Command
        required: true
      - name: name
        in: path
        schema:
          type: string
          description: Name of the Command
          example: knife
          maxLength: 64
          pattern: ^[\w-]+$
        description: Name of the Command
        required: true
      - name: page
        in: query
        schema:
          type: integer
          description: Page to paginate
          minimum: 1
        description: Page to paginate
      - name: count
        in: query
        schema:
          type: integer
          description: Count to paginate
          minimum: 1
          maximum: 50
        description: Count to paginate
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option
          default: descending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List%20of%20command%20tags'
  /v4/commands/{namespace}/{name}/{versionOrTag}:
    get:
      summary: Get a single command given command namespace, name and version or tag
      operationId: getV4CommandsNamespaceNameVersionortag
      description: Returns a command record
      parameters:
      - name: namespace
        in: path
        schema:
          type: string
          description: Namespace of the Command
          example: chefdk
          maxLength: 64
          pattern: ^[\w-]+$
        description: Namespace of the Command
        required: true
      - name: name
        in: path
        schema:
          type: string
          description: Name of the Command
          example: knife
          maxLength: 64
          pattern: ^[\w-]+$
        description: Name of the Command
        required: true
      - name: versionOrTag
        in: path
        schema:
          anyOf:
          - type: string
            description: Version of the Command
            example: '1.2'
            maxLength: 16
            pattern: ^(\d+)(\.\d+)?(\.\d+)?$
          - type: string
            description: Name of the Command Tag
            example: latest
            maxLength: 30
            pattern: ^[a-zA-Z][\w-.]+$
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get%20Command'
  /v4/pipeline/template/{namespace}/{name}:
    get:
      summary: Get a specific template by namespace and name
      operationId: getV4PipelineTemplateNamespaceName
      description: Returns template meta for the specified namespace and name
      parameters:
      - name: namespace
        in: path
        schema:
          type: string
          description: Namespace of the Template
          example: node
          maxLength: 64
          pattern: ^[\w-]+$
        description: Namespace of the Template
        required: true
      - name: name
        in: path
        schema:
          type: string
          description: Name of the template
          example: nodePipeline
          maxLength: 64
          pattern: ^[\w-]+$
        description: Name of the template
        required: true
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model28'
  /v4/pipelines/{id}/{jobName}/badge:
    get:
      summary: Get a badge for a job
      operationId: getV4PipelinesIdJobnameBadge
      description: Redirects to the badge service
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      - name: jobName
        in: path
        schema:
          type: string
          description: Name of the Job
          example: main
          maxLength: 110
          pattern: ^(PR-[0-9]+:)?(([\w-]+)|(?:stage@([\w-]+):(setup|teardown)))$
        description: Name of the Job
        required: true
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/builds/{id}/steps/{name}/logs:
    get:
      summary: Get the logs for a build step
      operationId: getV4BuildsIdStepsNameLogs
      description: Returns the logs for a step
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this build
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this build
        required: true
      - name: name
        in: path
        schema:
          type: string
          description: Name of the Step
          example: install
          maxLength: 64
        description: Name of the Step
        required: true
      - name: from
        in: query
        schema:
          type: integer
          description: Starting line Number
          default: 0
          minimum: 0
        description: Starting line Number
      - name: pages
        in: query
        schema:
          type: integer
          description: Max pages sent per request
          default: 10
          minimum: 1
        description: Max pages sent per request
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option for lines
          default: ascending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option for lines
      - name: type
        in: query
        schema:
          type: string
          default: preview
          enum:
          - download
          - preview
      - name: timestamp
        in: query
        schema:
          type: boolean
          description: Enable timestamp in logs
          default: false
        description: Enable timestamp in logs
      - name: timestampFormat
        in: query
        schema:
          type: string
          description: Timestamp format at the head of the log
          default: full-time
          enum:
          - full-time
          - simple-time
          - elapsed-build
          - elapsed-step
        description: Timestamp format at the head of the log
      - name: timezone
        in: query
        schema:
          type: string
          description: Timezone of timestamp in logs
          default: UTC
        description: Timezone of timestamp in logs
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/pipeline/template/{namespace}/{name}/{versionOrTag}:
    get:
      summary: Get a specific template version details by version number or tag
      operationId: getV4PipelineTemplateNamespaceNameVersionortag
      description: Returns template meta and version for namespace, name and version/tag
      parameters:
      - name: namespace
        in: path
        schema:
          type: string
          description: Namespace of the Template
          example: node
          maxLength: 64
          pattern: ^[\w-]+$
        description: Namespace of the Template
        required: true
      - name: name
        in: path
        schema:
          type: string
          description: Name of the template
          example: nodePipeline
          maxLength: 64
          pattern: ^[\w-]+$
        description: Name of the template
        required: true
      - name: versionOrTag
        in: path
        schema:
          required:
          - versionOrTag
          anyOf:
          - type: string
            description: Exact version of the template
            example: 1.2.3
            maxLength: 16
            pattern: ^(\d+)\.(\d+)\.(\d+)$
          - type: string
            description: Name of the Template Tag
            example: latest
            maxLength: 30
            pattern: ^[a-zA-Z][\w-.]+$
        required: true
      tags:
      - v4
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /v4/pipeline/templates/{namespace}/{name}/versions:
    get:
      summary: Get all template versions for a given template name with pagination
      operationId: getV4PipelineTemplatesNamespaceNameVersions
      description: Returns all template records for a given template name
      parameters:
      - name: namespace
        in: path
        schema:
          type: string
          description: Namespace of the Template
          example: node
          maxLength: 64
          pattern: ^[\w-]+$
        description: Namespace of the Template
        required: true
      - name: name
        in: path
        schema:
          type: string
          description: Name of the template
          example: nodePipeline
          maxLength: 64
          pattern: ^[\w-]+$
        description: Name of the template
        required: true
      - name: page
        in: query
        schema:
          type: integer
          description: Page to paginate
          minimum: 1
        description: Page to paginate
      - name: count
        in: query
        schema:
          type: integer
          description: Count to paginate
          minimum: 1
          maximum: 50
        description: Count to paginate
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option
          default: descending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option
      - name: sortBy
        in: query
        schema:
          type: string
          description: Field to sort by
          maxLength: 100
        description: Field to sort by
      - name: getCount
        in: query
        schema:
          type: boolean
          description: Return total count
        description: Return total count
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List%20of%20versions%20of%20a%20template'
  /v4/pipeline/templates/{namespace}/{name}/tags:
    get:
      summary: Get all pipeline template tags for a given template name and namespace
      operationId: getV4PipelineTemplatesNamespaceNameTags
      description: Returns all pipeline template tags for a given template name and namespace
      parameters:
      - name: namespace
        in: path
        schema:
          type: string
          description: Namespace of the Template
          example: node
          maxLength: 64
          pattern: ^[\w-]+$
        description: Namespace of the Template
        required: true
      - name: name
        in: path
        schema:
          type: string
          description: Name of the template
          example: nodePipeline
          maxLength: 64
          pattern: ^[\w-]+$
        description: Name of the template
        required: true
      - name: page
        in: query
        schema:
          type: integer
          description: Page to paginate
          minimum: 1
        description: Page to paginate
      - name: count
        in: query
        schema:
          type: integer
          description: Count to paginate
          minimum: 1
          maximum: 50
        description: Count to paginate
      - name: sort
        in: query
        schema:
          type: string
          description: Sorting option
          default: descending
          enum:
          - ascending
          - descending
          x-convert:
            case: lower
        description: Sorting option
      - name: sortBy
        in: query
        schema:
          type: string
          description: Field to sort by
          maxLength: 100
        description: Field to sort by
      - name: getCount
        in: query
        schema:
          type: boolean
          description: Return total count
        description: Return total count
      tags:
      - v4
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model50'
  /v4/pipelines/{id}/jobs/{jobName}/latestBuild:
    get:
      summary: Get latest build for a given job
      operationId: getV4PipelinesIdJobsJobnameLatestbuild
      description: Return latest build of status specified
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          description: Identifier of this pipeline
          example: 123345
          x-constraint:
            sign: positive
        description: Identifier of this pipeline
        required: true
      - name: jobName
        in: path
        schema:
          type: string
          description: Name of the Job
          example: main
          maxLength: 110
          pattern: ^(PR-[0-9]+:)?(([\w-]+)|(?:stage@([\w-]+):(setup|teardown)))$
        description: Name of the Job
        required: true
      - name: status
        in: query
        schema:
          type: string
          description: Current status of the build
          example: SUCCESS
          enum:
          - ABORTED
          - CREATED
          - FAILURE
          - QUEUED
          - RUNNING
          - SUCCESS
          - BLOCKED
          - UNSTABLE
[...]
